#gallery {
    padding: 92px 0;
    background-color: #2cb29a;
    background-image: url("../img/gallery-bg.jpg");
    background-repeat: no-repeat;
    min-height: 826px;
    text-align: center;
  
    h2 {
      color: #fff;
      font-size: 4.5rem;
      margin-bottom: 44px;
    }
  
    p {
      line-height: 1.7;
      color: #fff;
      width: 90%;
      margin: 0 auto;
    }
  
    ul {
      display: flex;
      padding-left: 0;
      flex-wrap: wrap;
      justify-content: space-around;
  
      li {
        list-style-type: none;
        margin-top: 40px;
        position: relative;
      }
    }
  }