
#offer {
    text-align: center;
  
    h2 {
      color: #fff;
      font-size: 3rem;
      margin-bottom: 20px;
    }
  
    .offer-one {
      background-color: #43b1d2;
      padding: 76px 40px 55px 40px;
    }
  
    .offer-two {
      background-color: #3fb6c6;
      padding: 76px 40px 55px 40px;
    }
  
    .offer-three {
      background-color: #3cbbbb;
      padding: 76px 40px 55px 40px;
    }
  
    .offer-four {
      background-color: #37c3a8;
      padding: 76px 40px 55px 40px;
    }
  
    img {
      margin-bottom: 23px;
    }
  
    p {
      color: #fff;
      line-height: 1.7;
    }
  }